@charset "utf-8";


/*PC・タブレット・スマホ共通設定
---------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #333;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff url(../images/bg.png);	/*背景色、背景画像の読み込み*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form{margin:0px;padding:0px;}
ul{list-style-type:none;}
img{border:none;max-width:100%;height:auto;}
table{border-collapse:collapse;font-size:100%;border-spacing:0;}
iframe{width:100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;	/*リンクテキストの色*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
a:hover {
	color: #000096;			/*マウスオン時の文字色（全体）*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（サイトロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	width: 100%;	/*横一杯使う為に100%指定*/
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: -webkit-linear-gradient(#d5edff, rgba(255,255,255,0) 50%) #fff;	/*グラデーションと背景色*/
	background: linear-gradient(#d5edff, rgba(255,255,255,0) 50%), #fff;/*同上*/
	font-size: 14px;
}
/*サイト幅にしたheader内のブロック*/
header #inner {
	width: 980px;	/*幅。#menubarと数字を合わせる。*/
	height: 130px;	/*高さ*/
	margin: 0 auto;
	position: relative;
	background: #fff url(../images/header_bg.jpg) no-repeat 0px center;	/*背景色、背景画像の読み込み（古いブラウザ用）*/
	background: -webkit-linear-gradient(#d5edff, rgba(255,255,255,0) 50%), #fff url(../images/header_bg.jpg) no-repeat 0px center/980px;	/*グラデーション、背景色、背景画像の読み込み（リピートなし、左から300pxの場所に配置、上下中央、画像幅500px）*/
	background: linear-gradient(#d5edff, rgba(255,255,255,0) 50%), #fff url(../images/header_bg.jpg) no-repeat 0px center/980px;/*同上*/
}
/*ロゴ画像*/
header #logo {
	color:white;
	position: absolute;
	left: 70px;	
	top: 35px;	
}

/*TEL*/
header #tel {
	color:white;
	position: absolute;
	left: 70px;	/*header #innerに対して左から70pxの場所に配置*/
	top: 85px;	/*header #innerに対して上から85pxの場所に配置*/
}

/*ヘッダー内メニュー（「物件のお問い合わせはこちら」ボタン）
---------------------------------------------------------------------------*/
/*メニューブロック全体*/
#headermenu {
	position: absolute;
	right: 10px;	/*header #innerに対して右から10pxの場所に配置*/
	top: 75px;	/*header #innerに対して上から75pxの場所に配置*/
}
/*メニュー１個あたり*/
#headermenu li {
	float: left;	/*左に回り込み*/
	margin-left: 10px;	/*左側にスペースを空ける*/
}
#headermenu li a {
	text-decoration: none;
	display: inline-block;
	background: #ffa600;	/*背景色（古いブラウザ用）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa600), to(#ff8a00));	/*グラデーション*/
	background: -webkit-linear-gradient(#ffa600, #ff8a00);	/*同上*/
	background: linear-gradient(#ffa600, #ff8a00);			/*同上*/
	color: #FFF;	/*文字色*/
	padding: 3px 15px;	/*上下、左右へのボックス内の余白*/
	border-radius: 4px;	/*角丸のサイズ*/
	border: 1px solid #ff8a00;	/*枠線の幅、線種、色*/
}
/*マウスオン時*/
#headermenu li a:hover {
	color: #ff8a00;	/*文字色*/
	background: #fff;	/*背景色*/
}

/*文字サイズ変更ボタン（※文字サイズを「大」にした時の設定はlarge.cssで行う）
---------------------------------------------------------------------------*/
/*ボタンブロック全体*/
ul#fsize {
	height: 50px;	/*大中のボタン画像の高さに合わせる*/
	/*width: 90px;	大中のボタン画像２点の幅を合計した数字にする*/
	position: absolute;
	right: 10px;	/*ヘッダーブロックの右から10pxの場所に配置*/
	top: 0px;	/*ヘッダーブロックの上から0pxの場所に配置*/
	padding-left: 140px;	/*「文字サイズ」の画像幅に合わせる*/
	padding-right: 5px;
	background: #fff url(../images/fsize_bg.png) no-repeat left center;	/*背景色、「文字サイズ」の背景画像読み込み（古いブラウザ用）*/
	background: url(../images/fsize_bg.png) no-repeat left center, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));	/*「文字サイズ」の背景画像とグラデーション*/
	background: url(../images/fsize_bg.png) no-repeat left center, -webkit-linear-gradient(#fff 30%, #eee);	/*同上*/
	background: url(../images/fsize_bg.png) no-repeat left center, linear-gradient(#fff 30%, #eee);			/*同上*/
	border: 1px solid #dcdcdc;	/*枠線の幅、線種、色*/
	border-top: none;	/*上の線だけ消す設定*/
	border-radius: 0px 0px 4px 4px;	/*角丸のサイズ。左上、右上、右下、左下。*/
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);	/*影の設定。右・下・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);			/*同上*/
}
/*ボタン１個あたり*/
ul#fsize li {
	float: left;	/*左に回り込み*/
}
ul#fsize a{
	overflow:hidden;
	display: block;
	text-indent: -9999px;
}
/*「中」サイズのボタン設定*/
ul#fsize li#me a {
	background: url(../images/fsize_on.png) left center;	/*背景画像として「中」を読み込む。初期設定でこれをオンの状態にしておく。*/
	height: 50px;	/*画像の高さ*/
	width: 40px;	/*画像の幅*/
}
ul#fsize li#me a:hover {
	background: url(../images/fsize_on.png) left center;	/*マウスオン時の背景画像*/
}
/*「大」サイズのボタン設定*/
ul#fsize li#la a {
	background: url(../images/fsize.png) right center;	/*背景画像として「大」を読み込む。初期設定でこれはオフの状態にしておく。*/
	height: 50px;	/*画像の高さ*/
	width: 50px;	/*画像の幅*/
}
ul#fsize li#la a:hover {
	background: url(../images/fsize_on.png) right center;	/*マウスオン時の背景画像*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロックの設定*/
#menu-box {
	width: 100%;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 6px rgba(0,0,0,0.1);	/*影の設定。右・下・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
	box-shadow: 0px 5px 6px rgba(0,0,0,0.1);			/*同上*/
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));	/*グラデーション*/
	background: -webkit-linear-gradient(#fff 30%, #eee);	/*同上*/
	background: linear-gradient(#fff 30%, #eee);			/*同上*/
	border-bottom: 1px solid #dcdcdc;	/*下線の幅、線種、色*/
	margin-bottom: 30px;	/*メニューと下のコンテンツとの間に空けるスペース*/
}
#menubar,
#menubar-s {
	width: 980px;	/*幅。header #innerと数字を合わせる。*/
	overflow: hidden;
	margin: 0 auto;
	border-left: 1px solid #dcdcdc;	/*一番左側にラインを入れる設定*/
	font-size: 14px;	/*文字サイズを固定。文字サイズ「大中」ボタンの影響を受けたいならこの行削除。但し若干レイアウトが崩れます。*/
}
/*メニュー１個あたりの設定*/
#menubar li,
#menubar-s li {
	float: left;	/*左に回り込み*/
	text-align: center;	/*文字をセンタリング*/
	border-right: 1px solid #dcdcdc;	/*右側にラインを入れる*/
	width: 162px;	/*メニュー幅*/
}
#menubar a,
#menubar-s a {
	margin: 7px 5px;	/*上下、左右へ、外側へとる余白。メニュー選択時に余白を設ける為に設定しています。*/
	display: block;
	text-decoration: none;
	padding: 7px 0px;	/*上下、左右へとる余白*/
	border-radius: 4px;	/*角丸のサイズ*/
}
/*マウスオン時*/
#menubar a:hover,
#menubar li.current a,
#menubar-s a:hover,
#menubar-s li.current a {
	background: #000096;	/*背景色*/
	color: #fff;	/*文字色*/
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.1) inset;	/*影の設定。右・下・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。insetは内側に向かっての影。*/
	box-shadow: 1px 2px 3px rgba(0,0,0,0.1) inset;			/*同上*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {
	display: none;
}
/*３本バーアイコンを表示させない*/
#menubar_hdr {
	display: none;
}

/*コンテンツ（左右ブロックを囲むボックス）
---------------------------------------------------------------------------*/
#contents {
	clear: both;
	width: 940px;	/*幅。header #innerや#menubarの980pxからここのpadding(左右の合計幅)を差し引いた数字で設定するといい。*/
	padding: 20px 20px 0px;	/*ボックス内の余白。上下、左右、下。*/
	margin: 0px auto 30px;
	background: #FFF;	/*背景色*/
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);	/*影の設定。右・下・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);			/*同上*/
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: left;	/*左側に回り込み*/
	width: 700px;	/*幅*/
	padding-bottom: 30px;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	margin-bottom: 15px;
	font-size: 100%;
	color: #FFF;		/*文字色*/
	background: #000096;	/*背景色*/
	padding: 5px 15px;	/*上下、左右への余白*/
	border-radius: 4px;	/*角丸のサイズ*/
}
/*mainコンテンツのh2タグの１文字目への設定*/
#main h2::first-letter {
	border-left: 3px solid #fff;	/*左側のアクセント用ラインの幅、線種、色*/
	padding-left: 10px;	/*アクセントラインと文字の間にとる余白*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 15px;
	font-size: 100%;
	background: #FFF;	/*背景色*/
	padding: 4px 15px;	/*上下、左右への余白*/
	border: 1px solid #bcbcbc;	/*枠線の幅、線種、色*/
	border-radius: 4px;	/*角丸のサイズ*/
}
/*mainコンテンツのh3タグの１文字目への設定*/
#main h3::first-letter {
	border-left: 3px solid #000096;	/*左側のアクセント用ラインの幅、線種、色*/
	padding-left: 10px;	/*アクセントラインと文字の間にとる余白*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 7px 15px 14px;	/*上、左右、下への余白*/
}
#main p + p {
	padding-top: 0px;
}
#main h2 + p,
#main h3 + p {
	padding-top: 0px;
	margin-top: -5px;
}

/*物件一覧ページの各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list {
	border: 1px solid #bcbcbc;	/*枠線の幅、線種、色*/
	margin-bottom: 15px;	/*ボックスの下に空ける余白*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ebebeb));	/*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #ebebeb);										/*同上*/
	background: linear-gradient(#FFF, #ebebeb);												/*同上*/
	-webkit-box-shadow: 0px 2px 5px #CCC, 0px 0px 1px 1px #FFF inset;	/*影の設定。右・下・ぼかし幅・色の設定, ＋内側への影を右・下・ぼかし幅・色を設定*/
	box-shadow: 0px 2px 5px #CCC, 0px 0px 1px 1px #FFF inset;			/*同上*/
	position: relative;
	overflow: hidden;
}
#main section.list a {
	padding: 15px;	/*ボックス内の余白*/
	text-decoration: none;
	display: block;
	overflow: hidden;
}
#main section.list.compact {
	width: 23%;	/*compactタイプの幅*/
	float: left;
	margin-left: 1.3%;
}
#main section.list.compact a {
	height: 220px;	/*compactタイプの高さ*/
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	padding: 0px;
	margin-left: 24%;	/*左側の写真幅とのバランスをとって設定*/
}
#main section.list.compact p {
	margin: 0;
	font-size: 11px;	/*compactタイプの文字サイズ*/
	line-height: 1.4;
	margin-bottom: 5px;
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: left;	/*画像を左へ回り込み*/
	width: 20%;		/*写真の幅*/
	background: #FFF;	/*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 5px;			/*余白。ここに上の行で設定した背景色が出ます。*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
	margin-right: 1%;		/*写真の右側に空ける余白*/
}
#main section.list.compact figure img {
	float: none;
	width: 90%;
	margin: 0;
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	font-size: 100%;
	margin-bottom: 0.5em;
	color: #000;		/*文字色*/
	border-bottom: 1px solid #CCC;	/*下線の幅、線種、色*/
}
#main section.list.compact h4 {
	font-size: 12px;
	border: none;
	line-height: 1.2;
}
/*ボックス内のh4タグの１文字目への設定*/
#main section.list h4::first-letter {
	border-left: 3px solid #000;	/*左側の線の幅、線種、色*/
	padding-left: 10px;	/*線と文字との余白*/
}
#main section.list.compact h4::first-letter {
	border: none;
	padding: 0;
}
/*マウスオン時のボックス*/
#main section.list a:hover {
	background: #fff;	/*背景色*/
}
/*登録日情報*/
#main section.list .date {
	display:block;
	float:right;
	font-size:11px;
	color:#999;
	margin-right:2%;
}
#main section.list.compact .date {
	float: none;
	line-height: 1.2;
}
/*一覧ページの各物件ボックス内のテーブル
---------------------------------------------------------------------------*/
#main section.list table {
	font-size: 12px;	/*文字サイズ*/
	background: #FFF;	/*背景色*/
	width: 76%;			/*テーブル幅*/
	margin-bottom: 5px;
}
#main section.list table,
#main section.list table td,
#main section.list table th{
	border: 1px solid #bcbcbc;	/*枠線の幅、線種、色*/
}
#main section.list table td,
#main section.list table th{
	padding: 1%;	/*テーブル内の余白*/
}
/*色のついた見出しブロック*/
#main section.list table th{
	width: 20%;		/*幅*/
	text-align: center;		/*文字をセンタリング*/
	font-weight: normal;	/*デフォルトの太字を標準にする設定*/
	background: #dfe0c8;	/*背景色*/
}
/*白い説明用ブロック*/
#main section.list table td {
	width: 30%;	/*幅*/
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: right;	/*右に回り込み*/
	width: 220px;	/*幅*/
}
/*subコンテンツ内のh2タグ設定*/
#sub h2 {
	font-size: 100%;
	padding-bottom: 10px;
}
/*subコンテンツのh2タグの１文字目への設定*/
#sub h2::first-letter {
	border-left: 3px solid #b5b5b5;	/*左側のアクセント用ラインの幅、線種、色*/
	padding-left: 10px;
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu {
	margin-bottom: 15px;	/*メニューブロックの下に空けるスペース*/
	border-top: solid 1px #e4e4e4;	/*上の線の線種、幅、色*/
}
/*メニュー１個ごとの設定*/
#sub ul.submenu li {
	background: #fff;	/*背景色*/
	border-bottom: solid 1px #e4e4e4;	/*下の線の線種、幅、色*/
}
#sub ul.submenu li a {
	text-decoration: none;
	display: block;
	padding: 2px 10px;	/*メニュー内の余白。上下、左右への設定。*/
}

/*サブコンテンツ内のbox1
---------------------------------------------------------------------------*/
#sub .box1 {
	padding: 15px;			/*ボックス内の余白*/
	margin-bottom: 15px;	/*ボックスの下に空けるスペース*/
	background: #f7f7f7;	/*背景色*/
	border: solid 1px #e4e4e4;	/*線の線種、幅、色*/
}
/*box1内のメニューの設定*/
#sub .box1 ul.submenu {
	margin-bottom: 0px;
}

/*サブコンテンツ　物件ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#sub section.list {
	font-size: 11px;	/*文字サイズ*/
	width: 100%;		/*ボックスの幅*/
	border-bottom: 1px solid #d1d1d1;	/*下の線の幅、線種、色*/
	line-height: 1.6;	/*行間*/
	position: relative;
	overflow: hidden;
}
#sub section.list a {
	text-decoration: none;
	display: block;
	overflow: hidden;
	padding: 5px;
}
/*１つめにあたるボックスの設定*/
#sub h2+section.list {
	border-top: 1px solid #d1d1d1;	/*上の線の幅、線種、色*/
}
/*h4見出しタグ*/
#sub section.list h4 {
	color: #000 !important;		/*文字色*/
	font-size: 12px;	/*文字サイズ*/
}
/*サムネイル画像設定*/
#sub section.list figure {
	float: left;	/*左に回り込みさせる設定*/
	width: 25%;		/*幅*/
	margin-right: 5px;	/*画像の右側に空けるスペース*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	background: #000096;	/*背景色*/
	color: #fff;	/*文字色*/
	font-size: 85%;	/*文字サイズ*/
}
footer a {
	color: #fff;
}
footer a:hover {
	color: #fff;
}
footer .pr {
	display: block;
	font-size: 80%;
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	width: 940px;	/*幅*/
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0px;
}
/*１行分の設定*/
#footermenu ul {
	float: left;	/*左に回り込み*/
	width: 18%;		/*幅。今回は５列作ったのでここの幅18%と下のpaddingの2%でトータル20%になるよう設定。列に応じて調整して下さい。*/
	padding-right: 2%;
}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: #333;	/*背景色*/
}
#copyright a {
	text-decoration: none;
}

/*トップページ内メインイメージ
---------------------------------------------------------------------------*/
#mainimg {
	clear: left;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl{
	padding-left: 15px;
	margin-bottom: 15px;
	overflow: auto;	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 140px;	/*ボックスの高さ*/
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*ta1設定*/
.ta1 {
	width: 100%;
	margin-bottom: 15px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
	padding: 10px;	/*ボックス内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #cce6f6;	/*背景色*/
}
/*左側ボックス*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*センタリング*/
	background: #f0f0f0;	/*背景色*/
}
/*こだわりアイコンのフロート指定(CMS用)*/
.ta1 td .specialbox {
	float: left;
	width: 100px;
	height: 40px;
}
.ta1 td .specialbox img {
	vertical-align: middle;
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
	padding-top: 40px;
}
#pagetop a {
	color: #FFF;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
	padding: 0px 30px;	/*上下、左右へのボックス内余白*/
	background: #333;	/*背景色*/
	text-decoration: none;
	text-align: center;
	display: block;
	float: right;
	border-radius: 4px 4px 0px 0px;	/*角丸のサイズ。左上、右上、右下、左下。*/
}
/*マウスオン時*/
#pagetop a:hover {
	background-color: #999;	/*背景色*/
	color: #FFF;			/*文字色*/
}

/*「おすすめ」「ご契約済」
---------------------------------------------------------------------------*/
/*おすすめ*/
.osusume {
	font-size: 10px;	/*文字サイズ*/
	-webkit-text-size-adjust: none;
	color: #FFF;		/*文字色*/
	background: #F00;	/*背景色*/
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px,20px);
	-ms-transform: rotate(-45deg) translate(37px,20px);
	transform: rotate(-45deg) translate(37px,20px);
}
h2 span.osusume {
	position: static;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	display: inline-block;
}
/*ご契約済*/
.sumi {
	font-size: 10px;	/*文字サイズ*/
	-webkit-text-size-adjust: none;
	color: #FFF;		/*文字色*/
	background: #069;	/*背景色*/
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px,20px);
	-ms-transform: rotate(-45deg) translate(37px,20px);
	transform: rotate(-45deg) translate(37px,20px);
}
h2 span.sumi {
	position: static;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	display: inline-block;
}

/*NEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 10px;	/*文字サイズ*/
	border-radius: 2px;	/*角丸のサイズ*/
	padding: 0px 5px;
	margin: 0px 5px;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #dcdcdc;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 1em;list-style: disc;}
.color1 {color: #000096;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
.big1 {font-size: 30px;letter-spacing: 0.2em;}



/*画面幅800px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（サイトロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*サイト幅にしたheader内のブロック*/
header #inner {
	width: auto;
	height: 150px;
}
/*TEL*/
header #tel strong {
	display: block;
}

/*ヘッダー内メニュー（「物件のお問い合わせはこちら」ボタン）
---------------------------------------------------------------------------*/
/*メニューブロック全体*/
#headermenu {
	position: absolute;
	right: 10px;
	top: 62px;
}
/*メニュー１個あたり*/
#headermenu li {
	float: none;
	margin-bottom: 8px;
}
#headermenu li a {
	width: 205px;
	text-align: center;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロックの設定*/
#menu-box {
	padding: 0px;
	border-top: 1px solid #dcdcdc;
}
#menubar,
#menubar-s {
	width: auto;
}
/*メニュー１個あたりの設定*/
#menubar li,
#menubar-s li {
	width: 50%;
	border-bottom: 1px solid #dcdcdc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#menubar li:nth-child(even) ,
#menubar-s li:nth-child(even) {
	border-right: none;
}
/*３本バーアイコンを表示させない*/
#menubar_hdr {
	display: none;
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	margin: 2%;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	width: 90%;
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub {
	display: none;
}

}



/*画面幅570px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:570px){

/*ヘッダー（サイトロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo {
	width: 45%;
}
/*TEL*/
header #tel {
	position: absolute;
	left: 50px;
	top: 75px;
}

}



/*画面幅480px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*ヘッダー（サイトロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*サイト幅にしたheader内のブロック*/
header #inner {
	height: 160px;
}
/*ロゴ画像*/
header #logo {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 70%;
	font-size: 160%;
	color: black;
	font-weight: bold;
}
/*TEL*/
header #tel {
	position: absolute;
	left: 0px;
	top: 65px;
	width: 100%;
	text-align: center;
}
header #tel strong {
	display: inline;
} 


/*ヘッダー内メニュー（「物件のお問い合わせはこちら」ボタン）
---------------------------------------------------------------------------*/
/*メニューブロック全体*/
#headermenu {
	position: absolute;
	left: 10px;
	top: 100px;
}
/*メニュー１個あたり*/
#headermenu li {
	float: none;
	margin-bottom: 8px;
}
#headermenu li a {
	width: 90%;
	text-align: center;
}

/*文字サイズ変更ボタン
---------------------------------------------------------------------------*/
/*ボタンブロック全体*/
ul#fsize {
	display: none;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*スマホ用メニューを非表示から表示に切り替える*/
#menubar-s {
	display: block;
}
/*PC用メニューを非表示にする*/
#menubar {
	display: none;
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 10px;		/*上から10pxの場所に配置*/
	right: 10px;	/*右から10pxの場所に配置*/
	width: 30px;	/*幅*/
	border: 1px solid #000;	/*枠線の幅、線種、色*/
	border-radius: 4px;	/*角丸のサイズ*/
	padding: 12px 10px 5px;	/*上、左右、下へのボックス内余白*/
	background: #fff;	/*背景色*/
}
/*３本のバー（1本あたり）*/
#menubar_hdr span {
	display: block;
	border-top: 2px solid #000;	/*枠線の幅、線種、色*/
	border-radius: 2px;	/*角丸のサイズ*/
	margin-bottom: 7px;	/*バー同士の余白*/
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	margin: 2%;
}

/*物件一覧ページの各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list.compact {
	width: 100%;	/*compactタイプの幅*/
	float: none;
	margin-left: 0;
}
#main section.list.compact a {
	height: auto;	/*compactタイプの高さ*/
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	margin-left: 0;
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: none;
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	margin-left: 0;
}

/*一覧ページの各物件ボックス内のテーブル
---------------------------------------------------------------------------*/
#main section.list table {
	margin-left: 0;
	width: 100%;
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	display: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
section#new h2.open {
	background: #000096 url(../images/btn_minus.png) no-repeat right center/34px 34px;
}
section#new h2.close {
	background: #000096 url(../images/btn_plus.png) no-repeat right center/34px 34px;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル内の左側*/
.ta1 th {
	width: 100px;
	padding: 5px;
}
/*テーブル内の右側*/
.ta1 td {
	width: auto;
	padding: 5px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {
	width: 90%;
}

}

/*カスタマイズ
/*-----------------------------------------*/





